<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Internal Server Error</title>
     
</head>
<body>
    <div class="error-container">
        <h1>500 - Internal Server Error</h1>
        <p>Oops! Something went wrong on our end. We're working to fix it!</p>
    </div>
</body>
<style>
    body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.error-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #cc0000;
    font-size: 3em;
}

p {
    color: #666;
    font-size: 1.2em;
}

</style>
</html>
